body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  background-image: url('/src/assets/images/fundo.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cabecalho-login {
  text-align: center;
  margin: 20px 20px 20px 20px; /* Ajuste as margens conforme necessário */
  padding: 0 20px; /* Adiciona preenchimento para dispositivos móveis */
  box-sizing: border-box; /* Inclui preenchimento nas dimensões */
}

.cabecalho-login h1 {
  font-size: 24px; 
  font-weight: bold;
  color: #003832;
}

.login-container {
  display: flex;
  max-width: 900px;
  background-color: #9cd8db;
  border-radius: 5px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-top: 20px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-section img {
  max-width: 100%;
  height: auto;
  border-radius: 0;
}

.login-section {
  flex: 1;
  padding: 40px;
}

.login-section h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;  
  color: #003832;
}

.login-section label {
  display: block;
  margin-bottom: 5px;
}

/* Adiciona um estilo de borda diferente para inputs focados */
.login-section input[type="text"]:focus,
.login-section input[type="password"]:focus {
  border-color: #00ffe5; 
  outline: none; /* Remove o outline padrão do navegador */
}

.login-section input[type="text"],
.login-section input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #58BDB2;
  border-radius: 20px;
  box-sizing: border-box;
}

.login-section input[type="password"] {
  margin-bottom: 27px;
}

.login-section input[type="submit"] {
  display: block;
  width: 100%;
  background-color: #ffffff;
  color: #18514B;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
}

.login-section input[type="submit"]:hover {
  background-color: #003832;
  color: #ffffff;
}

/* Media query para telas menores que 768px */
@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
    max-width: 100%;
  }

  .image-section {
    order: 2; /* Move a seção de imagem para baixo */
  }

  .login-section {
    order: 1; /* Move a seção de login para cima */
    padding: 20px;
  }

  .cabecalho-login {
    margin-top: 10px; /* Ajusta a margem superior */
  }

  .cabecalho-login h1 {
    font-size: 20px; /* Ajusta o tamanho da fonte */
  }
}
